asgiref==3.8.1
certifi==2024.8.30
chardet==5.2.0
charset-normalizer==3.4.0
DateTime==5.5
Django==5.1.1
django-cors-headers==4.4.0
django-rest-framework==0.1.0
django-test==0.4030
django_db==0.0.7
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
idna==3.10
pillow==10.4.0
PyJWT==2.9.0
PyMySQL==1.1.1
pytz==2024.2
reportlab==4.2.5
requests==2.32.3
rest-framework-simplejwt==0.0.2
sqlparse==0.5.1
tzdata==2024.2
urllib3==2.2.3
vincenty==0.1.4
whitenoise==6.7.0
zope.interface==7.0.3
gunicorn